{% extends 'base.html' %}

{% block content %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Добавить пост</title>
</head>
<body>
    <div class="container">
        <button type="button" class="btn-close" aria-label="Close"></button><h1>Добавить пост</h1>
        <form action="/" method="POST" enctype="multipart/form-data">
            <input type="text" name="title" placeholder="Заголовок" required>
            <textarea id="story" name="story" autocorrect="on" placeholder="Содержание статьи" rows="10" cols="33" ></textarea>
            <input type="text" name="tags" placeholder="Теги" required>
            <input type="file" name="files" multiple accept="image/*" required>
            <button type="submit">Добавить пост &#x1F525</button>
        </form>
    </div>
</body>
</html>

{% endblock %}
