{% extends "base_main.html" %}

{% block content %}
  {%for post in posts%}
  <div class="container">
      {% if post.photos_paths %}
        <div class="image-container">
            <img src="/{{post.first_photopath}}" alt="картинка хыхыхы">
        </div>
      {% endif %}
    <div class="postcontent">
        <a href="{{post.href}}" class="post-title">{{post.title}}</a>
        <p>{{post.text}}</p>
        <p class="author"> Автор:</p>
    </div>
</div>
  {%endfor%}


<script src="../static/javascript/index.js"></script>
<script>
    $(document).ready(function() {
      $('.tik').click(function(){
          alert('dsada');
      });
  });
</script>
{% endblock %}