{% extends "base.html" %}

{% block content %}
<aside class="sidenav"> <!-- Боковая панель (сайдбар) -->
  <nav> <!-- Дополнительное меню страницы -->
    <ul>
      <li><a href="/service-1/">Услуга 1</a></li>
      <li><a href="/service-2/">Услуга 2</a></li>
      <li><a href="/service-3/">Услуга 3</a></li>
    </ul>
  </nav>
</aside>
<main>
    <h2>{{post.title}}</h2>
    <p>{{post.content}}</p>
    <a href="/like/{{post.id}}" class="like-button">{{button_text}}</a>
    <p>Лайки: {{post.likes}}</p>
    <p>Просмотры: {{post.views}}</p>
</main>
{% endblock %}