{% extends "base.html" %}

{% block content %}
<aside class="sidenav"> <!-- Боковая панель (сайдбар) -->
  <nav> <!-- Дополнительное меню страницы -->
    <ul>
      {%for tag in tags%}
      <li class="liv"><a href={{tag.href}}>{{tag.name}}</a></li>
      {%endfor%}
    </ul>
  </nav>
</aside>
<main>
    <h2>{{post.title}}</h2>
    <p>{{post.content}}</p>
    {%for i in paths%}
    <img src="../{{i}}" style="width: 200px; height:150px;">
    {%endfor%}
    <br>
    <a href="/like/{{post.id}}" class="like-button">{{button_text}}</a>
    <p>Лайки: {{post.likes}}</p>
    <p>Просмотры: {{post.views}}</p>
</main>
{% endblock %}