{% extends "base.html" %}

{% block content %}
<main>
    <h2>{{post.title}}</h2>
    <p>{{post.content}}</p>
    {%for i in paths%}
    <img src="../{{i}}" style="width: 200px; height:150px;">
    {%endfor%}
    <br>
    <a href="/like/{{post.id}}" class="like-button">{{button_text}}</a>
    <p>Лайки: {{post.likes}}</p>
    <p>Просмотры: {{post.views}}</p>
    <p>Автор: <a href="/{{author_href}}">{{author_name}}</a></p>
    <form action="" method="post">
        {{comment_form.hidden_tag()}}
        <p>Комментарии к посту:</p>
        <div>
            {{ comment_form.content }}
            <p>{{comment_form.submit(type='submit')}}</p>
        </div>
        <ul>
            {% for comment in comments %}
                <li> <a href="/{{comment[2]}}">{{comment[1]}}</a>: {{ comment[0] }} </li>
            {% endfor %}
        </ul>
    </form>
</main>
{% endblock %}