<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
<button type="button">На главную</button>
    <h1>Зарегистрироваться</h1>
    <form action="/register" method="POST">
        <label for="username">Имя пользователя:</label>
        <input type="text" name="username" required>
        <br>
        <label for="username">e-mail:</label>
        <input type="text" name="username" required>
        <br>
        <label for="password">пароль:</label>
        <input type="password" name="password" required>
        <br>
        <input type="submit" value="Войти">
    <h2>Уже есть аккаунт?</h2>
        <button type="button">Войти</button>

    </form>
</body>
</html>