{% extends "base.html" %}

{% block content %}
<main>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{form.name.label}}<br>
            {{form.name()}}
            {%for i in form.name.errors%}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {%endfor%}
        </p>
        <p>
            {{form.email.label}}<br>
            {{form.email()}}
            {%for i in form.email.errors%}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {%endfor%}
        </p>
        <p>
            {{form.password.label}}<br>
            {{form.password()}}
            {%for i in form.password.errors%}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {%endfor%}
        </p>
        <div>
            <p>
                {{form.second_password.label}}<br>
                {{form.second_password()}}
            </p>
            {%for i in form.second_password.errors%}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {%endfor%}
        </div>
        <div>
            <p>
                <label for="avatar">Выберитe фото</label>
                <input type="file" id="avatar" name="files" accept="image/png, image/jpeg, image/jpg">
            </p>
        </div>
        <div class="captcha">
                <div>
                    {{form.captchafield.label}}<br>
                    {{form.captchafield()}}
                {%for i in form.captchafield.errors%}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                </div>
                {%endfor%}
                <div id="captcha_photo"><img src="/captcha.png/{{word}}"></div>
                <button id="captcha_button">Заменить код</button>
        </div>
        <div>
            <p>
                {{ form.remember_me() }} {{ form.remember_me.label }}
            </p>
        </div>
        <div>
            <p>
                {{form.submit(type='submit')}}
            </p>
        </div>
        {{message}}
    </form>
    <script src="/static/javascript/captcha.js"></script>
    </main>
{% endblock %}